.header{
    height: 60px;
    background-color: #343a40 !important;
}

.body-box{
    display: flex;
    height: calc(100vh - 60px);
    background-color: rgb(224, 224, 224);
}

.body-box .sidebar-box{
    padding: 20px;
}

.body-box .sidebar-box ul li{
    cursor: pointer;
    outline: none;
}

.body-box .content-box{
    padding: 20px;
}