<div>
  <div class="header">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        Angular Unit Testing
      </a>
    </nav>
  </div>
  <div class="body-box rows">
    <div class="sidebar-box col-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          routerLink="/citizenid"
          routerLinkActive="active"
        >
          Class testing
        </li>
        <li
          class="list-group-item"
          routerLink="/lightbulb"
          routerLinkActive="active"
        >
          DOM testing
        </li>
        <li
          class="list-group-item"
          routerLink="/welcome"
          routerLinkActive="active"
        >
          Dependency
        </li>
        <li
          class="list-group-item"
          routerLink="/users"
          routerLinkActive="active"
        >
          Routing & Routed
        </li>
      </ul>
    </div>
    <div class="content-box col-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
